@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration: none;
}

p {
  opacity: 0.5;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 0.7fr 3fr;
  grid-template-rows: 0.66fr 1fr 1fr 1fr;
}

.sidebar {
  background-color: #0ea5e9;
  grid-column: 1;
  grid-row: 1/5;
  color: #ffff;
}

.sidebar-container {
  padding: 10px 0px 0px 20px;
}

#title-section {
  display: flex;
}

#title-section img {
  width: 40px;
}

#title-section h1 {
  font-size: 26px;
  margin-left: 10px;
  font-weight: 700;
}

.menu-container {
  margin: 40px 0px 20px 10px;
}

.menu-container ul li {
  display: flex;
  margin-bottom: 15px;
}

.menu-container ul li img {
  width: 20px;
}

.menu-container ul li a {
  color: #ffff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 20px;
}

#support-sub {
  margin-top: 50px;
}

.header {
  background-color: #ffff;
  grid-template: 2;
  grid-row: 1;
}

.header img {
  width: 20px;
}

.header .header-container {
  padding: 15px 40px 0px 40px;
}

.header #top-section {
  display: grid;
  grid-template-columns: 0.1fr 2fr 0.2fr 0.28fr 0.6fr;
  align-items: center;
}

.header #top-section input {
  width: 550px;
  height: 30px;
  border-radius: 20px;
  border: 0;
  background-color: #e2e8f0;
}

.header #top-section p {
  font-weight: 500;
  opacity: 1;
}

.header #avatar-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.header #botton-section {
  display: grid;
  grid-template-columns: 0.1fr 0.5fr 0.115fr 0.115fr 0.115fr;
  align-items: center;
  margin-top: 20px;
}

.header #botton-section img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.header #text-display p {
  opacity: 1;
}

.header #botton-section p:last-child {
  font-size: 22px;
  font-weight: 500;
}

.header #botton-section a {
  background-color: #0ea5e9;
  color: #ffff;
  text-align: center;
  margin-right: 25px;
  border-radius: 60px;
  padding: 6px 8px;
}

.main-content {
  background-color: #e2e8f0;
  grid-column: 2;
  grid-row: 2/5;
  display: grid;
  grid-template-columns: 0.33fr 0.33fr 0.3fr;
  grid-template-rows: 20px 237px 67px 15px 125px 237px;
  grid-gap: 15px;
  padding: 20px 30px 20px 20px;
  overflow-y: auto;
  overflow-x: hidden;
}

.title-heading {
  font-weight: 500;
}

#projects-title {
  grid-column: 1/3;
  grid-row: 1/2;
}

#announcements-title {
  grid-column: 3/4;
  grid-row: 1/2;
}

#trending-title {
  grid-column: 3/4;
  grid-row: 4/5;
}

#card1 {
  grid-column: 1/2;
  grid-row: 2/3;
}

#card2 {
  grid-column: 2/3;
  grid-row: 2/3;
}

#card3 {
  grid-column: 1/2;
  grid-row: 3/6;
}

#card4 {
  grid-column: 2/3;
  grid-row: 3/6;
}

#card5 {
  grid-column: 1/2;
  grid-row: 6/7;
}

#card6 {
  grid-column: 2/3;
  grid-row: 6/7;
}

.project-card {
  background-color: #ffff;
  border-radius: 10px;
}

.card-description {
  position: relative;
  padding: 20px 30px 20px 30px;
}

.card-description::after {
  content: "";
  width: 10px;
  height: 238px;
  position: absolute;
  background-color: #f0b329;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.card-description h1 {
  font-weight: 700;
}

.add-share-btn {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  margin-top: 10px;
}

.add-share-btn a {
  margin-left: 20px;
}

.add-share-btn img {
  width: 20px;
}

.announcement-cards {
  background-color: #ffff;
  grid-column: 3/4;
  grid-row: 2/4;
  padding: 25px;
  overflow-y: auto;
  overflow-x: hidden;
}

.announcement-card {
  margin-top: 20px;
  border-bottom: solid grey;
}

.announcement-card h1 {
  font-weight: 700;
}

.trending-cards {
  background-color: #ffff;
  grid-column: 3/4;
  grid-row: 5/7;
  padding: 30px;
  overflow-y: auto;
  overflow-x: hidden;
}

.trending-card {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}

.trending-card img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.trending-card .name-area {
  margin-left: 20px;
}

.name-area p:first-child {
  opacity: 1;
}
